@media (max-width: 480px) {
  #main-nav {
    display: none;
  }
  #main-section article .descripcion {
    display: none;
  }
  .header-top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: baseline;
  }
  .img-logo {
    width: 40%;
    margin-left: 5%;
  }
  .search-container {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 5%;
  }
  .searchbar input {
    max-width: 80%;
  }
  .head-header {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  .product-wrapper:hover .producto {
    box-shadow: none;
  }
}
